<!DOCTYPE html>
<html>
<style>
    body {
        background-color: pink;
    }
        
    h1 {
        color: white;
        margin-left: 40px;
        text-align: center;
        font-size: 50;
    }

    h2 {
        color: white;
        margin-left: 40px;
        text-align: center;
        font-size: 22;
    }

</style>
<h1> Random Character Generator </h1>
<h2> Good Luck! </h2>
<body>
    <h1>you rolled a {{ rating }} its affluence is {{ affluence }} and its called {{ name }}</h1>
    <h2>Refresh for a new Roll</h2> 
</body>
</html>